/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Stile globale */
  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-image: url("sfondo.jpg");
    background-size: cover;
  }
  
  a {
    color: #0077cc;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Intestazione */
  header {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    font-weight: bold;
  }
  
  /* Sezione principale */
  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  
  h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
  }
  
  li {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  li:hover {
    transform: translateY(-5px);
  }
  
  h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #0077cc;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  p:last-child {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    color: #0077cc;
  }
  
  /* Piè di pagina */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  /* Colori personalizzati */
  :root {
    --primary-color: #0077cc;
    --secondary-color: #ff9900;
    --success-color: #00cc66;
    --warning-color: #ffcc00;
    --danger-color: #ff3300;
  }
  
  .primary {
    color: var(--primary-color);
  }
  
  .secondary {
    color: var(--secondary-color);
  }
  
  .success {
    color: var(--success-color);
  }
  
  .warning {
    color: var(--warning-color);
  }
  
  .danger {
    color: var(--danger-color);
  }